.btn {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: 5px;
    font-family: var(--font-header);
    font-size: bold;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    transition: color .2s ease-in-out, border .2s ease-in-out;
    width: fit-content;
    &:hover {
        border: 2px solid var(--color-accent);
        color: var(--color-accent);
    }
}