.heroSection {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 91px);
    background-color: var(--color-primary);
    @apply font-josefin;

    .nameWrapper {
        display: flex;
        background-color: var(--color-primary);
    }
    .name {
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        opacity: 0;
        @screen md {
            font-size: 5rem;
        }
        @screen lg {
            font-size: 7rem;
        }
    }

    .test{
        opacity: 0;
    }

    .about {
        @apply font-playfair ;
        font-size: 1rem;
        text-align: center;
        opacity: 0;
        @screen md {
            font-size: 1.5rem;
        }
    }
}