@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #343536;
  --color-primary: #101010;
  --color-primary: #080808;
  --color-primary: #0B0B0B;
  --color-accent: #C09E6B;
  --color-black: #000000;
  --color-white: #FFFFFF;
  /*background-color: var(--color-primary);*/
}

html, body {
  background-color: var(--color-primary);
}

* {
  /* scrollbar-width: thin; */
  scrollbar-color: var(--color-accent) var(--color-primary);
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-white);
  
}
