.projectWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    background-color: var(--color-secondary);
    border-radius: 20px;
    width: 100%;
    margin-bottom: 3rem;
    color: var(--color-white);
    box-shadow: rgb(0, 0, 0) 0px 1px 1px, rgba(0, 0, 0, 0.36) 0px 0px 1px 1px;
    transition: all .3s ease-in-out;
    
    & > * {
        margin-bottom: 3.5rem;
    }
    
    @screen xs {
        max-width: 25rem;
    }

    @screen lg {
        max-width: 29rem;
    }
    @screen 2xl {
        max-width: 30rem;
    }

    &:hover {
        transform: scale(1.02); 
    }

    &:hover h2 {
        color: var(--color-accent);
    }

        /*&:hover img {
        max-width: 95%;
    }*/
    
    img {
        aspect-ratio: 16/9;
        object-fit: cover;
        max-width: 90%;
        border-radius: 20px;
        margin-top: -30px;
        transition: all .3s ease-in-out;
        box-shadow: rgb(0, 0, 0) 0px 1px 1px, rgba(0, 0, 0, 0.13) 0px 0px 1px 1px;

    }

    .contentWrapper {
        flex-grow: 1;
        padding: 0 1.5rem;
        width: 100%;
        text-align: center;

        & > * {
            padding-bottom: 1rem;
        }

        h2 {
            font-family: var(--font-josefin-sans);
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.2rem;
            transition: color .2s ease-in-out;
        }
        p {
            font-family: var(--font-playfair-display);
        }

        .date {
            font-weight: 100;
            font-size: 0.9rem;
            font-style: italic;
        }

        .tag:not(:nth-last-child(2))::after {
            content: ",";
        }

        .tag:last-child {
            display: none;
        }
    }

    .linksWrapper{
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        svg {
            path {
                transition: fill .3s ease-in-out;
                fill: var(--color-white);
            }
    
            &:hover path{
                fill: var(--color-accent);
            }
        }
    }
}