.headingContainer {
    .headingWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;

        .pageHeader {
            @apply text-white text-4xl font-header mb-16;
            font-weight: bold;
        }
        .standfirst {
        
            p {
                @apply font-body;
                color: var(--color-white);
                font-size: 1.2rem;
                text-align: center;
            }
        }
    }

}
