.searchSection {
    @apply w-full flex flex-col items-center justify-center max-w-screen-2xl;
    
    .projectsContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        margin: 3rem 0;

    }

    form {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 0 8rem 0;

        input {
            padding: .5rem 1rem;
            border-radius: 5px 0 0 5px;
            flex-grow: 1;
            max-width: 15rem;
            min-width: 10rem;
        }

        .dropdownMenu {
            position: absolute;
            top: 40px;
            padding: .5rem 1rem;
            max-width: 15rem;
            min-width: 10rem;
            background-color: aqua;
        }



        button {
            @apply font-josefin;
            background-color: var(--color-accent);
            transition: background-color .2s ease-in-out;
            padding: .5rem 1rem;
            border-radius: 0 5px 5px 0;
            &:hover {
                background-color: var(--color-white);
            }
        } 
    }
}