.searchSection {
    @apply w-full flex flex-col items-center justify-center max-w-screen-2xl px-5;
    
    .projectsContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        margin: 3rem 0;

    }
}